{% extends "paginas/modelo.html" %}

{% load static %}

{% block conteudo %}
<h3>DogVille 🐶</h3>

{% if not request.user.is_authenticated %}
    <p>
        Para acessar o sistema, faça o login.
    </p>
    <p>
        <a href="{% url 'login' %}" class="btn btn-success">Login</a>
    </p>

{% else %}

    <p>
        Olá, {{ request.user }}!

        <h4>Estatísticas</h4>
        <ul>
            <li>Quantidade de cachorrinhos que já conseguiram um lar: {{ qtdeCachorrosAdotados }}</li>
            <li>Quantidade de cachorrinhos que procurando um lar: {{ qtdeCachorrosDisponiveis }}</li>
        </ul>

        <h4>Alguns cachorrinhos para adoção</h4>
        
        <ul>
            {% for c in cachorrosAleatorios %}
                <li>{{ c.nome }}/{{c.raca }}</li>
            {% empty %}
                <li>Nenhum cachorrinho disponível</li>
            {% endfor %}

            {{ queryset }}
        </ul>
    </p>

{% endif %}

<p>Permita que um cachorrinho encontre o seu lar.</p>
{% endblock %}