{% extends "paginas/modelo.html" %}
<!-- Carrega a biblioteca de funções (filtros, templatetags) -->
{% load static %}


{% block conteudo %}

<h3>Sobre o Sistema</h3>
<p> Desenvolvimento de um sistema para adoção de cachorros. O sistema tem como objetivo facilitar o processo de adoção, oferecendo uma plataforma onde pessoas podem buscar por cachorros e realizar o processo de adoção de forma organizada e documentada.
    <h4>Diagrama de Classes</h4>
    <img src="../../../static/img/diagrama_classes.png" />

    <br>

    <h4>Diagrama de Caso de Uso</h4>
    <img src="../../../static/img/diagrama_caso_uso.png" />
</p>
<p>Contato: 20210002178@estudantes.ifpr.edu.br</p>

{% endblock %}
